body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cnvrt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cnvrt-values-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#value {
    display: flex;
    justify-content: space-between;
}