body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding:0;
}

#cnvrt-num {
    border-color: #B295FF;
    color: white;
    background-color: #6943FF;
    border-style: solid;
    border-radius: 4px;
    height: 50px;
    width: 100px;
    font-size:40px;
    font-weight: 900;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cnvrt-num:focus {
    border-color: #B295FF;
    border-radius: 4px;
    outline: #B295FF;
    caret-color: #B295FF;
}

button {
    background-color: white;
    border-style: none;
    border-radius: 4px;
    height: 32px;
    width: 90px;
    margin-top: 15px;
}

h1 {
    font-size:larger;
}

p {
    color: white;
    font-size: 12px;
}

#cnvrt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#cnvrt-values-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #1F2937;
    color: #CCC1FF;
    height: 100%;
    width:100%;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#value-1 {
    padding: 10px;
    padding-bottom: 30px;
    height: 40px;
    width: 80%;
    background-color: #273549;
    margin: 10px;

}

#value-2 {
    padding: 10px;
    padding-bottom: 30px;
    height: 40px;
    background-color: #273549;
    width: 80%;
    margin: 10px;
}

#value-3 {
    padding: 10px;
    padding-bottom: 30px;
    height: 40px;
    background-color: #273549;
    width: 80%;
    margin: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

  